body {
  background-color: #db7676;
}

h1{
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
}

p{
  color: #ffffff;
  font-weight: bolder;
}

label{
  color: #ffffff;
  font-weight: bolder;
}

div{
  color: #ffffff;
  font-weight: bolder;
}